# http://docs.fluentd.org/articles/out_file
<match {{ pattern | default('**') }}>
type copy

{% for template, arguments in stores.iteritems() %}
    {% include 'stores/' + template + '.conf.j2' %}
{% endfor %}

</match>
