---
language: python
python: "2.7"

before_install:
  # Make sure everything's up to date.
  - sudo apt-get update -qq

install:
  # Install Ansible.
  - sudo apt-get install ansible -y
  - sudo sed -i -e's@#roles_path.*@roles_path=../@' /etc/ansible/ansible.cfg

script:
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check
