<source>
type tail
path {{ item.path }}
{% if item.name %}
pos_file {{ fluentd.log_dir }}/{{ item.name }}.pos
{% endif %}
tag {{ item.tag | default('message.balog') }}
format {{ item.format | default('json') }}
</source>
