<source>
type tail
path {{ item.path }}
{% if item.name %}
pos_file {{ fluentd.log_dir }}/{{ item.name }}.pos
{% endif %}
tag {{ item.tag | default('message.balog') }}
format {{ fluent_d.in_tail.transforms.get(item.format) | default(item.format) | default('json') }}
</source>
