<store>
    type                kafka
    brokers             {{ fluentd_kafka_servers | join(',') }}
    default_topic       {{ item.stores.kafka.topics | default([item.name]) | join(',') }}
    output_data_type    json
    output_include_tag  true
    output_include_time true
</store>
